.navbar {

  margin-bottom: 0;
  border-radius: 0;
  background-color: #ffffff;
  border: 0;
  padding: 2.5% 0;
  font-size: 1.3em;

}

.navbar-brand {
  display: block;
  float: left;
  min-heght: auto!important;
  padding: 0 15px 5px;
  margin: 1% auto;

}
@media (max-width: 600px){

  .navbar-brand > img{
    max-width: 180px;
    height: auto!important;
  }

}

.navbar-inverse .navbar-nav li a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #f40c0c;
  padding: 25px 15px 25px 15px;
  margin: 1% auto;

}

.navbar-inverse .navbar-nav li a:hover {
  color: #f40c0c;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {

  color: #041a30;
  background-color: #f2f4f4;

}


.button{
  color: black;
  background: black;
  font-weight: bold;
}



