.header {
  background-image: url("../../../public/img/pixi.png");
  width: 100% !important;
  color: white;

}

.header h1 {
  font-family:Georgia;
  font-weight: 700;
}

.header .col-lg-6,
.header .col-md-6{
  margin-top: 50px;
}
.header h1{
  padding-top: 50px;
}
.header .btn{
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  color: black;
  border-radius: 0;
  border: 2px;
}

.header img{
  height: 450px;
  width: 550px;

}



//SERVICES SECTION...KASSIM RIYAMI PIXI WEB DEVELOPER 2018

.services{
  padding: 80px 0 80px;
  text-align:center;
  background-image: url("../../../public/img/Background.png");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;

}

.services h1{
  font-family: Georgia;
  font-weight: 700;
  padding-bottom: 20px;


}

.services h4 {
  font-family: Georgia;
  font-weight: 500;
  padding-bottom: 15px;
}

.services p{
  padding-bottom: 30px;

}

.services i {

  height: 150px;
  width: 150px;
  font-size: 50px;
  padding-bottom: 20px;
  padding: 25px 20px;


  color: white;
}

//team section
.team{
  text-align: center;
  background-color: black;

}

.team i{
  height: 50px;
  width: 50px;
  font-size: 30px;
  padding: 20px 20px 20px 20px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-bottom: 20px;


}


//clients

.customer{
  text-align: center;
}

.customer img{
  height: 150px;
  width: auto;
  opacity: 0.6;
  cursor: pointer;

}


p,li{
  font-family:"Comic Sans MS";
  font-size: 15px;
  font-weight: 400;
}

h1,h2,h3,h4{
  font-family: Georgia;
}
h1,h2{
  font-weight: 700;
}

#contact{
  background-color:#f1f1f1;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

#contact .jumbotron{

}

#contact .well{
  margin-top:30px;
  border-radius:0;
}

#contact .form-control{
  border-radius: 0;
  border:2px solid #1e1e1e;
}

#contact button{
  border-radius:0;
  border:2px solid #1e1e1e;
}

#contact .row{
  margin-bottom:30px;
}

@media (max-width: 768px) {
  #contact iframe {
    margin-bottom: 15px;
  }

}

.customer img{
  padding: 20px 20px 20px 20px;


}
